# [___ App Settings ___]
App_Name=Locallyco
APP_PORT=

# [___ Database Settings ___]
# DB_driver=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=

# [___ Better-Auth Settings ___]
BETTER_AUTH_SECRET=   # generate from openssl or the better auth docs
BETTER_AUTH_URL=http://localhost:${APP_PORT} # Base URL of your app

FRONTEND_URL=
